---
export const prerender = false

import CrosswordGame from "../../components/games/crossword/CrosswordGame.svelte"

const searchParams = Object.fromEntries(Astro.url.searchParams)

---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <link rel="icon" type="image/svg+xml" href="/svg/crossword_favicon.svg">
    <title>Mini Crossword</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        html,body {
            overflow-x: hidden;
            margin:0;
            paddig: 0;
        }
    </style>
    <meta name="description" content="Play the free mini crossword written by Ava Dinh-Vu">
</head>
<body>
    
    <CrosswordGame searchParams={searchParams} client:load />
</body>
</html>