---

---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <title>Ava's Games</title>

</head>
<body>
    <ul>
        <li><a href="https://crossword.blue">Crossword</a></li>
    </ul>
    <script>
        window.location.href = import.meta.env.PUBLIC_SITE + "games/crossword"
    </script>
</body>
</html>
